{% extends "base.html" %}

{% block header2 %}Welcome to Five Fun Things{% endblock %}

{% block content %}
<p>Five Fun Things was inspired by article in Private Eye. The premise 
was rather than worry about eating <a href="https://www.nhs.uk/live-well/eat-well/5-a-day-what-counts/">5 veg and fruit a day</a>, its better to do five fun things a day. 
<a href="https://www.subscription.co.uk/private-eye/store/subscription">Plug for Private Eye</a></p>

<p>This is a easy way to journal five fun things for good mental health 
every day. With helpful reminders to make this a habit. </p>

<h3>Menu :-</h3>
 <ul>
    <li class="pure-menu-item"><a href="/things/" ><i class="fa fa-th-list"></i> List your fun things</a></li>
    <li class="pure-menu-item"><a href="/things/journal/" ><i class="fa fa-pencil"></i> Enter some fun things</a></li>
    <li class="pure-menu-item"><a href="/accounts/" ><i class="fa fa-user" aria-hidden="true"> Account login/out</i></a></li>
</ul> 

<h3>To do :-</h3>
 <ul>
  <li>Word cloud</li>
  <li>Split list in pages</li>
  <li>Link to post set of Five Fun Things to Twitter</li>
</ul> 

{% endblock %}
