{% extends "base.html" %}

{% block header2 %}Welcome to Five Fun Things{% endblock %}

{% block onloadjs %}flashlogo(){% endblock %}

{% block content %}
<p>Five Fun Things was inspired by article in Private Eye, by <a href="drphilhammond.com">Dr Phil Hammond.com</a>. The premise
was rather than worry about eating <a href="https://www.nhs.uk/live-well/eat-well/5-a-day-what-counts/"  
target="_blank">5 fruit and veg a day</a>, its better to do five fun things a day.
<a href="https://www.subscription.co.uk/private-eye/store/subscription"  target="_blank">Plug for Private Eye</a></p>

<p>This is a easy way to journal five fun things for good mental health 
every day. With helpful reminders to make this a habit. A nice view of list of you past fun things
and word cloud of your previous fun things. See <a href="/about/"><i class="fa fa-info-circle"></i> for example screenshots.</a></p>

<h3>Menu</h3>
 <ul>
    <li class="pure-menu-item"><a href="/about/"><i class="fa fa-info-circle"></i> Screenshots (User logged in)</a></li>
    <li class="pure-menu-item"><a href="/about/"><i class="fa fa-key"></i> Other Apps and resources</a></li>
    <li class="pure-menu-item"><a href="/things/journal/" ><i class="fa fa-pencil"></i> Enter some fun things</a></li>
    <li class="pure-menu-item"><a href="/things/"><i class="fa fa-th-list"></i> View by date your fun things (Once entered)</a></li>
    <li class="pure-menu-item"><a href="/things/cloud/" ><i class="fa fa-cloud"></i> Word cloud of your fun things</a></li>
    <li class="pure-menu-item"><a href="/accounts/" ><i class="fa fa-user" aria-hidden="true"></i> Account login/out</a></li>
</ul>

<h3>Mobile App -  Easy Install</h3>
 <ul>
    <li class="pure-menu-item">Make sure this webpage is open on mobile device in Safari or Chrome</li>
    <li class="pure-menu-item">From the Safarie/Chrome menu</li>
    <li class="pure-menu-item">Choose 'Add to Home Screen'</li>
 </ul>

<h3>Updates to the App</h3>
 <ul>
    <li class="pure-menu-item">2020-05-06 - Privacy notice.</li>
    <li class="pure-menu-item">2020-05-02 - Links to other fun things and contacts app developer.</li>
    <li class="pure-menu-item">2020-04-30 - Install Buttons android and apple.</li>
    <li class="pure-menu-item">2020-04-29 - Word Clouds!</li>     
    <li class="pure-menu-item">2020-04-25 - Sploshy made icons!</li>
    <li class="pure-menu-item">2020-04-25 - First release</li>
    <li class="pure-menu-item">2020-04-23 - Concept completed</li>
</ul> 


<h3>To Do: (not finished yet)</h3>
 <ul>
  <li>Split users list of fun things in pages</li>
  <li>Link to post set of Five Fun Things to Twitter</li>
  <li>Email reminders -  where is your five fun things today </li>
  <li>Email Stats, how many days complete five fun things in a row</li>
  <li>Email suggest a past fun thing or a new funthing </li>
  <li>Word cloud by week, month year</li>
</ul> 

{% endblock %}

{% block loading %}
<h2 class="content-head ">Welcome</h2>
<img src="/static/img/upload.gif" id="spinnger" >

<script>
function flashlogo() {
        var x = document.getElementById("loading");
        var y = document.getElementById("main");
        x.style.display = "block";
        y.style.display = "none";
    
    setTimeout(() => {  
        var x = document.getElementById("loading");
        var y = document.getElementById("main");
        y.style.display = "block";
        x.style.display = "none";
        }, 1000);
}
</script>

{% endblock %}


