{% extends "base.html" %}

{% block header2 %}Key to Good Mental Health{% endblock %}

{% block content %}

<p>I am not sure what is the key is for good mental health, if I did I 
would bottle it and hand it out on street corners. I can however suggest
 a few example fun things to do and other forms of guidance.</p>

<h2>Other Apps and resources </h2>
<ul>
  <li><a href="https://www.nhs.uk/apps-library/category/mental-health/">NHS List of Mental Health Apps</a></li>
  <li><a href="https://www.nhs.uk/oneyou/every-mind-matters/">NHS Website Every Mind Matters</a></li>
  <li><a href="https://www.samaritans.org">Provide support to anyone in emotional distress</a></li>
</ul> 

<h2>Five Fun Things (Examples)</h2>
<ul>
  <li>Take a nice walk</li>
  <li><a href="https://boardgamearena.com/player?id=86619713">Play a board game with me</a></li>
  <li><a href="https://www.bbc.co.uk/food/recipes/how_to_make_pizza_50967">Make Pizza from scratch</a></li>
  <li>Make a zenn diagram of  your sock collection.</a></li>
  <li><a href="https://github.com">Write an app call Six Fun Things</a></li>
</ul> 

{% endblock %}


